<div class="componentClass">
  <div class="row firstrow">
    <div class="blue container">
      <div>
        <h2>3k+ articulos</h2>
        <p class="bodyText">
          hasta el momento...
        </p>
      </div>
    </div>
    <div class="black container">
      <h2>Desde S/.0</h2>
    </div>
  </div>
  <div class="row secondrow">
    <div class="black container">
      <img class="image" src="assets/images/stat.png" alt="dialogue"/>
      <h2 class="special">15k+ comentarios</h2>
    </div>
    <div class="blue container">
      <h2>  
        45k+ likes
      </h2>
    </div>
  </div>
</div>
