<div class="headerClass">
  <div class="headerContainer componentClass">
    <div class="titleContainer">
      <img class="DKLogo" src="assets/images/logo.png" alt="DermoKosmetic Logo">
      <h1 class="DKName">DermoKosmetic</h1>
    </div>
    <div class="linkContainer">
      <a class="headerLink" routerLink="/landing">Propuesta</a>
      <a class="headerLink" routerLink="/questions">Preguntas</a>
      <a class="headerLink" routerLink="/articles">Articulos</a>
      <button class="greyButton register" routerLink="/register">Registro</button>
    </div>
    <app-dropdown class="dropDown" />
  </div>
</div>
