<div class="componentClass">
  <div class="footerContainer">
    <h3>Redes</h3>
    <a href="https://www.facebook.com/"><img class="imgLink" src="assets/images/facebook.png" alt="Facebook"></a>
    <a href="https://www.instagram.com/"><img class="imgLink" src="assets/images/instagram.png" alt="Instagram"></a>
    <a href="https://www.twitter.com/"><img class="imgLink" src="assets/images/twitter.png" alt="Twitter"></a>
  </div>
  <div class="footerContainer">
    <h3>Hecho por</h3>
    <ul>
      <li>Marcelo Poggi</li>
      <li>Colleen Rodriguez</li>
      <li>Claudia Sifuentes</li>
    </ul>
  </div>
</div>
