<div class="componentClass">
  <div class="textContainer">
    <h2 class="title">Aprende sobre <span class="highlight">dermatologia</span> y <span class="highlight">cosmetica</span> leyendo sobre productos reales</h2>
    <p class="bodyText">
      Buscando aprender mas sobre el cuidado de tu piel? <br />
      Revisa el resto de la pagina para saber nuestra propuesta.
    </p>
    <div class="buttonContainer">
      <button class="greyButton">Sobre el equipo</button>
      <button class="blueButton">Ver Articulos</button>
    </div>
  </div>
  <img class="imageClass" src="assets/images/landing.jpg" alt="face image" />
</div>
