<div class="componentClass">
  <h2>¿Por qué DermoKosmetic?</h2>
  <div class="chipContainer">
    <app-info-chip class="chip" titleContent="Aprende sobre productos" image="assets/images/icon1.png">
      DermoKosmetic ofrece reseñas detalladas y experiencias reales sobre productos dermocosméticos, facilitando decisiones informadas para tu rutina de cuidado facial y corporal.
    </app-info-chip>
    <app-info-chip class="chip" titleContent="Lee Articulos" image="assets/images/icon2.png">
      Explora artículos escritos por expertos en dermatología y cosmética para entender mejor las necesidades de tu piel y descubrir consejos efectivos para una rutina de cuidado segura.
    </app-info-chip>
    <app-info-chip class="chip" titleContent="Discute con gente" image="assets/images/icon3.png">
      Únete a la comunidad activa de DermoKosmetic para participar en discusiones, hacer preguntas y compartir experiencias sobre cuidado de la piel con otros usuarios apasionados.
    </app-info-chip>
  </div>
</div>
