.container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  flex-direction: column;
  width: 75%;
}

.componentClass {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
}

button {
  padding: 10px 20px;
}