<div class="componentClass">
  <h2>Planes y precio</h2>
  <h3>Apoyanos para seguir ofreciendo informacion gratuita.</h3>
  <div class="chipContainer">
    <app-plans-chip class="chip" chipTitle="Basico" price="Free" buttonName="Registrate" [type]="false">
      <li>Acceso ilimitado a articulos</li>
      <li>Acceso ilimitado a preguntas</li>
    </app-plans-chip> 
    <app-plans-chip class="chip" chipTitle="Miembro" price="S/.15 al mes" buttonName="Unete" [type]="true">
      <li>Todo lo que incluye el plan pro</li>
      <li>Apoyo extra para el equipo de DermoKosmetic</li>
    </app-plans-chip> 
    <app-plans-chip class="chip" chipTitle="Pro" price="S/.5 al mes" buttonName="Adquierelo" [type]="false">
      <li>Acceso anticipado a articulos</li>
      <li>Cero anuncios</li>
    </app-plans-chip> 
  </div>
</div>
